name: CI

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ubuntu-version:
        - 22.04
        - 24.04
    steps:
      - uses: actions/checkout@v4
      - run: make UBUNTU=${{ matrix.ubuntu-version }} update
      - run: make UBUNTU=${{ matrix.ubuntu-version }} build
      - run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          make UBUNTU=${{ matrix.ubuntu-version }} push
        if: ${{ github.repository_owner == 'wpilibsuite' && github.ref == 'refs/heads/main' }} 

  build-arm:
    name: Build ARM
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        debian-version:
        - bookworm
    steps:
      - uses: actions/checkout@v4
      - run: make DEBIAN=${{ matrix.debian-version }} update/arm
      - run: make DEBIAN=${{ matrix.debian-version }} build/arm-base
      - run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          make UBUNTU=${{ matrix.debian-version }} push/arm-base
        if: ${{ github.repository_owner == 'wpilibsuite' && github.ref == 'refs/heads/main' }} 

  build-minimal:
    name: Build Minimal
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ubuntu-version:
        - 22.04
        - 24.04
    steps:
      - uses: actions/checkout@v4
      - run: make UBUNTU=${{ matrix.ubuntu-version }} update
      - run: make UBUNTU=${{ matrix.ubuntu-version }} build/minimal-cross
      - run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          make UBUNTU=${{ matrix.ubuntu-version }} push/minimal-cross
        if: ${{ github.repository_owner == 'wpilibsuite' && github.ref == 'refs/heads/main' }}

      - run: make UBUNTU=${{ matrix.ubuntu-version }} save/minimal-cross
      - name: Upload roborio cross base image
        uses: actions/upload-artifact@v4
        with:
          name: roborio-${{ matrix.ubuntu-version }}
          path: roborio.tar.gz
          retention-days: 1
      - name: Upload raspbian cross base image
        uses: actions/upload-artifact@v4
        with:
          name: raspbian-${{ matrix.ubuntu-version }}
          path: raspbian.tar.gz
          retention-days: 1
      - name: Upload systemcore cross base image
        uses: actions/upload-artifact@v4
        with:
          name: systemcore-${{ matrix.ubuntu-version }}
          path: systemcore.tar.gz
          retention-days: 1

  build-python:
    name: Build Python Images
    needs: [build-minimal]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type:
        - raspbian
        pyversion:
        - py311
        - py312
        - py313
        include:
        - type: roborio
          pyversion: py313

    steps:
    - uses: actions/checkout@v4

    - name: Download image
      uses: actions/download-artifact@v4
      with:
        name: ${{ matrix.type }}-22.04
        path: img

    - name: Load image
      run: |
        gunzip -c img/${{ matrix.type }}.tar.gz | docker load
        rm img/${{ matrix.type }}.tar.gz

    - name: Build image
      run: make build/cross-${{ matrix.type }}-${{ matrix.pyversion }}

    - name: Upload image
      run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          make push/cross-${{ matrix.type }}-${{ matrix.pyversion }}
      if: ${{ github.repository_owner == 'wpilibsuite' && github.ref == 'refs/heads/main' }}
